<h2>Member Benefits</h2>
<section>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3>24/7 access</h3>
                <p>Free use of our facilites and tools</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                 <h3>Discount on classes</h3>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3>Online Services</h3>
                <ul>
                    <li>Chat</li>
                    <li>Email</li>
                    <li>Web Hosting</li>
                </ul>
            </div>
        </div>
    </div>
</section>