<app-header [data]="(data | async)?.header"></app-header>
<app-join [prices]="(data | async)?.prices"></app-join>
<app-categories [data]="(data | async)?.getCategories()"></app-categories>
<app-help-us [data]="(data | async)?.helpUs"></app-help-us>
<app-events [data]="(data | async)?.getUpcomingEvents()"></app-events>
<app-makes [data]="(data | async)?.getMakes()"></app-makes>
<app-facilities [data]="(data | async)?.getFacilities()"></app-facilities>
<app-benefits></app-benefits>
<app-about></app-about>
<app-supporters [data]="(data | async)?.supporters"></app-supporters>