

<section>
    <h2>About Meta Makers Cooperative</h2>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                <h3>Our Mission</h3>
                <p>Our mission is to provide access to tools and resources to maximize human potential. A makerspace is a place for creative people to meet one another and collaborate on creative projects. Our goal is to fulfill our mission by operating a successful makerspace in Windsor.</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                 <h3>Our Journey</h3>
                 <p>
                    Meta Makers Cooperative Inc. was founded under the government of Ontario in 2019 as a not for profit non-share capital community service cooperative. The founders saw an opportunity to unite the diverse yet fragmented arts, technology and manufacturing communities in Windsor. They were inspired by the tremendous success of i3 Detroit, a prominent makerspace in Detroit, Michigan.
                 </p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h3>Founders</h3>
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                        <p>Roberto Caruso</p>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                        <p>Pauline Burnett</p>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                        <p>Jo Taylor</p>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                        <p>Nik Steel</p>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                        <p>Shawn Wilson</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>